pycache/
*.pyc
*.pyo
*.pyd

venv/
env/
.venv/

.ipynb_checkpoints/

data/*
!data/*.dvc
*.csv
*.zip
*.tar.gz

*.h5
*.pt
*.pth
*.ckpt
*.pkl
models/

logs/
*.log

.dvc/cache/

.DS_Store
Thumbs.db

kaggle.json

.vscode/
.idea/

*.tmp
*.swp